    <h1>The Pirate, <%= @pirate.name %></h1>
        <div class="pirate">
        <ul>
            <li>Weight: <%= @pirate.weight %></li>
            <li>Height: <%= @pirate.height %></li>
        </ul>
    </div><br>

  <div class="ship">
  <% @ships.each_with_index do |ship, index| %>
    <h1>Ship <%= index + 1 %>: <%= ship.name %></h1>
    <ul>
        <li>Type: <%= ship.type %></li>
        <li>Booty: <%= ship.booty %></li>
    </ul>
<% end %>




