<h1>
    Pirate name: <%= @pirate.name %><br>
    Height: <%= @pirate.height %><br>
    Weight: <%= @pirate.weight %><br>
</h1>


<h2>
    First ship name: <%= @ships.first.name %><br>
    First ship type: <%= @ships.first.type %><br>
    First ship booty: <%= @ships.first.booty %><br>
</h2>


<h2>
Second ship name: <%= @ships.last.name %><br>
Second ship type: <%= @ships.last.type %><br>
Second ship booty: <%= @ships.last.booty %><br>
</h2>
