<h1>Pirate Name: <%= @pirate.name %></h1>
<ul>
    <li>Weight: <%= @pirate.weight %></li>
    <li>Height: <%= @pirate.height %></li>
</ul>

<% @ships.each_with_index do |ship, index| %>
<h1>Ship #<%= index + 1 %>: <%= ship.name %></h1>
<ul>
    <li>Type: <%= ship.type %></li>
    <li>Booty: <%= ship.booty %></li>
</ul>
<% end %>

<h3>To create a new pirate, click <a href="/new">here</a>.</h3>