<h1> Pirate </h1>
<div class="pirate">
    <p>Name: <%= @pirate.name %></p>
    <p>Height: <%= @pirate.height %></p>
    <p>Weight: <%= @pirate.weight %></p>
</div><br>

<% Ship.all.each do |ship| %>
    <div class="ships">
    <p>Name: <%= ship.name %></p>
    <p>Type: <%= ship.type %></p>
    <p>Booty: <%= ship.booty %></p>
    </div><br>
   <% end %>


