<h1>Pirate: <%= @pirate.name %></h1>
<p><%= @pirate.weight %></p>
<p><%= @pirate.height %></p>

<% @ships.each do |ship| %>
<h1><p>Ship: <%= ship.name %></p></h1>
<p>Type: <%= ship.type %></p>
<p>Booty: <%= ship.booty %></p>
<% end %>

