    <h1>The Pirate, <%= @pirate.name %></h1>
        <div class="pirate">
        <ul>
            <li>Weight: <%= @pirate.weight %></li>
            <li>Height: <%= @pirate.height %></li>
        </ul>
        </div><br>
    <h2>Ships</h2>
    <% @ships.each do |ship| %>
        <div class="ship">
            <h3>Name: <%= ship.name %></h3>
            <ul>
                <li>Type: <%= ship.type %></li>
                <li>Booty: <%= ship.booty %></li>
            </ul>
        </div><br>  
    <% end %>




